
/* Itinerary Card Section */

.itinerary-cards-section {
    background-image: url(../assets/Images/hawaii.jpg);
    background-size: cover;
    background-position: center;
    min-height: 76vh;
}
.itinerary-cards-section2 {
    background-image: url(../assets/Images/iceland.jpg);
    background-size: cover;
    background-position: center;
    min-height: 76vh;
}
.itinerary-cards-section3 {
    background-image: url(../assets/Images/greece.jpg);
    background-size: cover;
    background-position: center;
    min-height: 76vh;
}

.article-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.itinerary__card {
    width: 21%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.desinations__title{
    margin: 0% 0 3% 0;
    padding: 9% 0 0 5%;
    color: #ffffff;
}
.itinerary__title {
    margin-top: -2%;
    border-bottom: solid 2px #000;
    font-size: 1.25rem;
    font-weight: 900;
}
.itinerary__list{
    list-style: none;
    padding: 0;
}
.itinerary__item {
    margin-bottom: 5px;
    background: #FEFAF5;
    padding: 6% 0 8% 0;
}





