

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana';

    margin-left: 0;
    margin-right: 0;
}

h1 {
    color: #335576;
    font-size: 3rem;
    font-family:'Verdana';
   
}
h2 {
    font-size: 3rem;
    font-family:'Verdana';
    font-weight: 100;
    
}
h3{
    font-family:'Verdana';
    font-weight: 100;
    font-size: 1.5em;
}
/* Header Nav Section */
.header-section {
    background-color: #ffffff;
    padding: 0.5rem 0 0.5rem 6%;
    margin: -1% 0 0 0;
    display: flex;
    align-items: center;
}
.nav-text {
    color: #335576;

}
.nav-section {
    display: flex;

}
.nav-section-right {
    margin: 1% 0 0 55%;
}
.nav__item { 
    display: inline-block; 
    margin-right: 2rem;
    color:#000;
} 
.nav__list {
    list-style: none; 
    padding: 0; 
}
.nav__link { 
    color: #000; 
    text-decoration: none;
}
.nav-text {
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0 0 0 -1rem;
}
.nav__link:hover,
.nav__link--active {
   border-bottom: solid 3px #DB7A4E;
   text-decoration: none;
}
.nav-logo {
    text-decoration: none;   
}
/* Footer Section */
.footer-section {
    background-color: #FEFAF5;
    padding: 1% 17% 5% 16%;
    display: flex;
    margin: 0 -40% 0 0;
}
.footer__list {
    width: 26%;
    margin: 0 0 0 2%;
}
.list--move {
    margin: 0 0 0 -6%;
}
.footer__title {
    text-align: left;
    color: #335576;
    font-size: 1.06rem;
    font-weight: 900;
}
.footer__sub-title {
    color:#DB7A4E;
    font-size: .7rem;
}
.footer__info {
    text-align: left;
    margin: 0;
    font-size: .8rem;
    color: #335576;
}
.footer-h-flex {
    display: flex;
    flex-direction: row;
}
.social__icon{
    width: 36%;
}
.icon--size{
    width: 3%;
}
.social__link {
    display: inline-block;
    margin: 4% 0 0 0;
}
.link--move{
    margin: 0 0 0 -6%;
}
.hours {
    margin: 0 9% 0 0;
}
.list--move {
    margin: 0 0 0 -10%;
    width: 33%;
}
.travel__title {
    position:absolute;
    color: #fff;
}
.travel__title-section {
    margin: 0 0 0 4%;
}