
/* Intro Hero Section */
.intro-section {
    background-color: #FEFAF5;
    min-height: 598px;
    padding: 9% 3% 0 3%;
}
   /* Intro Hero Section */
   .intro__title {
    color: #335576;
    font-size: 1.625rem;
    font-weight: 700;
}
.featured__image {
    width: 72%;
    margin: 9% 0 0 20%;
}
.intro__list {
    display: flex;

}
.intro__item {
    padding: 1rem;
}
.intro__item--size {
    padding: 1rem;
    margin-right: 0.25rem;
    width: 56rem;
    margin-top: 4%;
    position: relative;
}
.intro__para {
    text-align: left;
    margin: -3% 0 3% 0;
    color: #335576;
    font-size: 0.93rem;
}
.intro__button {
    color: white;
    background-color: #DB7A4E;
    border: 0;
    padding: 1.5% 7%;
    font-size: 13px;
    border-radius: 1.5rem;
    font-weight: 100;
}
.landing-border {
    border: solid 2px #000000;
    position: absolute;
    width: 18%;
    height: 10%;
    top: 56%;
    left: 1%;
}
.products{
    background: #F7F7F7;
    padding: 2% 0 5% 0;
}
.product__title 
 {   
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
}
/* Card Section */
.card__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 auto 6% auto;
    padding: 0 10% 0 11%;
}
.card__title-section {
    padding: 0 0 0 4%;
    margin: 5% 0 0 0;
}
.card__title {
font-weight: 900;
}
.card {
    width: 25rem;
    position: relative;
    flex: 1;
    display: flex; 
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 0 3% 0 3%;
    background: #ffffff;
    padding: 33% 2% 0 0;
    text-decoration: none;
    color:#FFF;
    text-align:right;
}

.card__title {
    font-weight: 900;
    }
.card1 {
    background-image: url("../assets/Images/hawaii.jpg");
    background-size: cover; 
    background-position: center;
}
.card2 {
    background-image: url("../assets/Images/iceland.jpg");
    background-size: cover; 
    background-position: center;
}
.card3 {
    background-image: url("../assets/Images/greece.jpg");
    background-size: cover; 
    background-position: center;
}


.card {
    position: relative;
    display: inline-block;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add a transition effect */
}

.card:hover::before {
    opacity: 1; /* Show the overlay when hovering */
}

/* Additional styling for the card content */
.card .card__content {
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
}

